{% load static %}


<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'projects' %}" class="header__logo">
            <img src="{% static 'images/linkhub_logo.svg' %}" alt="LinkHub Logo" />
        </a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                {% if request.user.is_authenticated %}
                <li class="header__menuItem"><a href="{% url 'for-you' %}">For You</a></li>
                {% endif %}
                <li class="header__menuItem"><a href="{% url 'projects' %}">Projects</a></li>
                <li class="header__menuItem"><a href="{% url 'profiles' %}">Developers</a></li>
                {% if request.user.is_authenticated %}
                <li class="header__menuItem"><a href="{% url 'saved-projects' %}">Saved</a></li>
                <li class="header__menuItem">
                    <a href="{% url 'inbox' %}" {% if unread_message_count %}style="font-weight:700;"{% endif %}>
                        Inbox{% if unread_message_count %} ({{unread_message_count}}){% endif %}
                    </a>
                </li>
                <li class="header__menuItem"><a href="{% url 'account' %}">My Account</a></li>
                <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
                {% else %}
                <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
